
<!DOCTYPE html>
<html>
<head>
    <title>Welcome, Alumni! - School Management System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid text-center">
        <h1>Welcome, Alumni! Congrats on Graduation!</h1>
        <p>Here you can access your transcript.</p>
        <a href="/transcript" class="btn btn-primary">View Transcript</a>
        <form action="/logout" method="POST" class="mt-4">
            <button type="submit" class="btn btn-secondary">Logout</button>
        </form>
    </div>
    <li class="mb-3">
        <form method="GET" action="/alumni_info">
            <button type="submit" class="btn btn-primary btn-block">View Personal Information</button>
        </form>
    </li>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>