<!DOCTYPE html>
<html>
<head>
    <title>Students Being Taught</title>
    <!-- Add Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row mb-3">
            <div class="col-md-12">
                <form action="/faculty">
                    <button class="btn btn-primary">
                        Back
                    </button>
                </form>
            </div>
        </div>
        
        {% if courses %}
        <h1>Students Being Taught</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Course ID</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                <tr>
                    <td>{{ course[0] }}</td>
                    <td>{{ course[1] }}</td>
                    <td>
                        <form action="/AssignGrades" method="POST">
                            <input type="hidden" value="{{ course[1] }}" name="cid">
                            <input type="hidden" value="{{ course[0] }}" name="userID">
                            <select class="form-control" name="fgrade" onchange="this.form.submit()">
                                <option selected="selected" hidden="hidden">{{ course[2] }}</option>
                                <option value="IP">IP</option>
                                <option value="A+">A+</option>
                                <option value="A">A</option>
                                <option value="A-">A-</option>
                                <option value="B+">B+</option>
                                <option value="B">B</option>
                                <option value="B-">B-</option>
                                <option value="C+">C+</option>
                                <option value="C">C</option>
                                <option value="C-">C-</option>
                                <option value="D+">D+</option>
                                <option value="D">D</option>
                                <option value="D-">D-</option>
                                <option value="F">F</option>
                            </select>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h1>No In Progress Students</h1>
        {% endif %}
    </div>

    <!-- Add jQuery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
